
@import 'reset';

// Variables

$primary: #675B69;
$primary-dark: #9A9C87;
$primary-light: #B9B9B9;
$secondary: #6E7179;
$secondary-dark: #5E626B;
$secondary-light: #B4AEA1;
$tertiary:  #A0998A;
$accent: #675B69;

$white: #fff;
$black: #333;

// Fonts
$serif: 'Libre Baskerville', serif;
$sans-serif: sans-serif;
$heading: 'Roboto', 'Helvetica', Arial, sans-serif;
$body-text: $sans-serif;

$text-color: $black;


// RWD BREAKPOINTS 
// mobile first! so you only have to use floats etc in larger sizes
// set breakpoints where your content breaks, not particular devices

$xs: 768px; //Extra Small Phones
$sm: 769px; //Small Devices Tablets and Up
$md: 992px; //Medium Devices  Desktops and Up
$lg: 1200px; //Large Devices Large Desktops and Up

@mixin breakpoint($point) {
  @if $point == xs {
    @media screen and (max-width: 768px)  { @content; } 
  }
  @if $point == sm {
    @media screen and (min-width: 769px) { @content; }
  }
  @if $point == md {
    @media screen and (min-width: 992px) { @content; }
  }
  @else if $point == lg {
    @media screen and (min-width: 1200px) { @content; }
  }
}

// Extends

// CLEARFIX
// for old markup w/clearfix class:
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

// for semantic markup, a la http://blog.teamtreehouse.com/a-better-clearfix-with-sass
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%text-background {
    padding: 10px;
    background: transparentize($primary-dark, .7);
}

%text-shadow {
  text-shadow: 1px 1px 1px $black;
  text-shadow: -1px -1px -1px $primary-light;
}

%header {
  font-family: $heading;
  color: $primary;
}

%fade-in {
  -webkit-transition: background 2s linear;
  -moz-transition: background 2s linear;
  -o-transition: background 2s linear;
  transition: background 2s linear;
}


html,
body {
  height: 100%;
  font-family: $body-text;
  transition: all .2s ease-in-out;
}

body {
  background-color: $primary-light;

  background-position: center center;
  background-size: cover;

  &.work-timer {
    @extend %fade-in;
    background-image: linear-gradient(90deg, rgba($white, .5) 100%, transparent 90%), url(http://sandbox.misfist.com/pomodoro-clock/assets/images/zen-garden.jpg);
  }
  
  &.break-timer {
    @extend %fade-in;
    background-image: linear-gradient(90deg, rgba($white, .7) 100%, transparent 90%), url(http://sandbox.misfist.com/pomodoro-clock/assets/images/relax.jpg);
  }

}


// Block Elements
h1,
h2 {
  @extend %header;
  margin: 10px 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}

section {
  @extend %clearfix;
  padding-top: 2em;
  padding-bottom: 2em;
}

article {
  text-align: center;
}

// Main Sections

.container {
  @extend %clearfix;
}

#main-nav {
  background-color: $primary;

  a,
  a:link {
    color: $white;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #main-nav {
    .navbar-nav {
      float: right;
    }
  }

}

// Home Section
#home {

  padding-top: 80px;

  header {}

  h1,
  h2 {
      margin: 0;
  }

  h1 {
    font-size: 46px;
  }

  nav {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid $white;
    box-shadow: 0px -1px 0px 0px $black;
  }

}

@media only screen and (min-width : 768px) {
  #home {}
}

// Form controls

.controls,
.buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

// Counter styles
.timer-outer {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid $accent;
  overflow: hidden;

  .timer-inner {
    width: 100%;
    background-color: rgba( $tertiary, .5 );
  }

  .counter-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @extend %header;
    color: $primary;
    font-size: 40px;
  }
}


footer {

  background-color: $primary-dark;
  padding-top: 10px;
  padding-bottom: 10px;

  color: $white;
  a,
  a:link {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

// Common Elements

em {
  font-style: italic;
}

p + p {
  padding-top: 20px;
}

label {
  color: $secondary;
}

.btn {
  box-shadow: 1px 1px 0px 0px $primary-light;
  transition: all .2s ease-in-out;
  @extend %header;
  font-size: 18px;
  color: $text-color;
  border-color: $primary;

  a,
  a:link {
    color: $text-color;
    &:hover,
    &:focus {
        text-decoration: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    border-color: $primary;
    //transform: scale(1.1);
  }
}

.btn-success,
.btn-danger {
  color: $white;
  &:hover,
  &:focus,
  &:active,
  &.active:focus {
    color: $white;
  }
}

.btn-success {
  background-color: $primary;
  &:hover,
  &:focus,
  &:active,
  &.active:focus {
    background-color: darken($primary, 10);
  }
}
.btn-danger {
  background-color: $secondary;
  &:hover,
  &:focus,
  &:active,
  &.active:focus {
    background-color: darken($secondary, 10);
  }
}

.btn-link {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active,
  &.active:focus {
    border-color: transparent;
    background-color: transparent;
    text-decoration: none;
  }
}

.list-inline {
  li {
    margin-right: 4px;
    margin-left: 4px;
  }
}

.copyleft {
  color: $primary-light;

  a,
  a:link {
    color: $primary-light;
  }
}

// Specific Elements
.navbar-brand,
.navbar-inverse .navbar-brand {
  margin: 0;
  color: $white;
  a,
  a:link {
    color: $white;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: $white;
}

.image-border {
  border: 15px solid $accent;
  border-radius: 50%;
}

.social-links {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
