html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

section:after, .container:after {
  content: "";
  display: table;
  clear: both; }

h1,
h2, .timer-outer .counter-text, .btn {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  color: #675B69; }

body.work-timer, body.break-timer {
  -webkit-transition: background 2s linear;
  -moz-transition: background 2s linear;
  -o-transition: background 2s linear;
  transition: background 2s linear; }

html,
body {
  height: 100%;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out; }

body {
  background-color: #B9B9B9;
  background-position: center center;
  background-size: cover; }
  body.work-timer {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 100%, transparent 90%), url(http://sandbox.misfist.com/pomodoro-clock/assets/images/zen-garden.jpg); }
  body.break-timer {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 100%, transparent 90%), url(http://sandbox.misfist.com/pomodoro-clock/assets/images/relax.jpg); }

h1,
h2 {
  margin: 10px 0; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 30px; }

section {
  padding-top: 2em;
  padding-bottom: 2em; }

article {
  text-align: center; }

#main-nav {
  background-color: #675B69; }
  #main-nav a,
  #main-nav a:link {
    color: #fff; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #main-nav .navbar-nav {
    float: right; } }

#home {
  padding-top: 80px; }
  #home h1,
  #home h2 {
    margin: 0; }
  #home h1 {
    font-size: 46px; }
  #home nav {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #fff;
    box-shadow: 0px -1px 0px 0px #333; }

.controls,
.buttons {
  margin-top: 15px;
  margin-bottom: 15px; }

.timer-outer {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #675B69;
  overflow: hidden; }
  .timer-outer .timer-inner {
    width: 100%;
    background-color: rgba(160, 153, 138, 0.5); }
  .timer-outer .counter-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #675B69;
    font-size: 40px; }

footer {
  background-color: #9A9C87;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff; }
  footer a,
  footer a:link {
    color: #fff; }
    footer a:hover,
    footer a:focus,
    footer a:link:hover,
    footer a:link:focus {
      color: #fff; }

em {
  font-style: italic; }

p + p {
  padding-top: 20px; }

label {
  color: #6E7179; }

.btn {
  box-shadow: 1px 1px 0px 0px #B9B9B9;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  color: #333;
  border-color: #675B69; }
  .btn a,
  .btn a:link {
    color: #333; }
    .btn a:hover,
    .btn a:focus,
    .btn a:link:hover,
    .btn a:link:focus {
      text-decoration: none; }
  .btn:hover,
  .btn:focus,
  .btn:active {
    color: #333;
    border-color: #675B69; }

.btn-success,
.btn-danger {
  color: #fff; }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active:focus,
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active,
  .btn-danger.active:focus {
    color: #fff; }

.btn-success {
  background-color: #675B69; }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active:focus {
    background-color: #4c434e; }

.btn-danger {
  background-color: #6E7179; }
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active,
  .btn-danger.active:focus {
    background-color: #56585e; }

.btn-link {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none; }
  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active,
  .btn-link.active:focus {
    border-color: transparent;
    background-color: transparent;
    text-decoration: none; }

.list-inline li {
  margin-right: 4px;
  margin-left: 4px; }

.copyleft {
  color: #B9B9B9; }
  .copyleft a,
  .copyleft a:link {
    color: #B9B9B9; }

.navbar-brand,
.navbar-inverse .navbar-brand {
  margin: 0;
  color: #fff; }
  .navbar-brand a,
  .navbar-brand a:link,
  .navbar-inverse .navbar-brand a,
  .navbar-inverse .navbar-brand a:link {
    color: #fff; }

.navbar-inverse .navbar-toggle {
  border-color: #fff; }

.image-border {
  border: 15px solid #675B69;
  border-radius: 50%; }

.social-links li {
  padding-top: 5px;
  padding-bottom: 5px; }
